<% include ../partials/header %>
<div class="container">
    <div class="row show">
        <h1 class="show"><%= adventure.name %><a type="button" class="btn btn-link" style="float:right;" href="/adventures">Go Back</a></h1>
        <img src="<%= adventure.image %>" class="show">
        <div class="description show">
            <p>
                <%= adventure.description %>
            </p>
        </div>
        <a type="button" class="btn btn-warning" href="/adventures/<%= adventure._id %>/edit">Edit</a>
        <form id="delete" action="/adventures/<%= adventure._id %>?_method=DELETE" method="POST">
            <button class="btn btn-danger">Delete</button>
        </form>
    </div>
    
    <% adventure.comments.forEach(function(comment) {%>
        <p>
            <strong><%= comment.author %></strong>: <%= comment.text %>
        </p>
    <% });%>
    
    
    <div class="row">
    <h3 style="text-align: center; margin: 50px 0;">Have a comment or question?</h3>
    <div style="width: 60%; margin: 30px auto;">
      <!--get the form data and add to adventures array-->
      <form action="/adventures/<%= adventure._id%>/comments" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" name="comment[author]" placeholder="Author">
        </div>
        <div class="form-group">
          <textarea class="form-control"  type="text" name="comment[text]" placeholder="Text..." rows="6"></textarea>
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-success btn-block">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<% include ../partials/footer %>